{{>comman}}
    <div class="main-content">
    {{>header}}
    <img src="/img/img.png" class="portrait">
    <p>As the number of wildfires burning across California continues to grow, bouts of strong winds will further increase the fire danger into early next week.</p>
    
    <p>Sustained winds of 20-30 mph, with gusts up to 50 mph, will be common in these areas, especially during the evening and overnight hours.<br>
    Sunshine and very dry conditions will accompany the Sundowner wind events, further drying out vegetation and enhancing the risk for wildfire growth, spread and development.</p>


    </div>
{{>footer}}