{{>comman}}

<div class="main-content">
{{>header}}
<p>Please enter the location and fetch the real time weather report.</p>

<p>
   <form> 
    <input type="text" placeholder="Location">
    <button>Search</button>
   </form> 
</p> 
<p id="message-1"></p>
<p id="message-2"></p>

</div>
<script src="/js/napp.js"></script>
{{>footer}}
